html,body{
	height: 100%;
	margin:0;
	padding: 0
}
body .jumbotron {
    padding: 1rem 2rem;
   
}

#chatText{
	width: 90%;

}

body h1{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border-bottom: 1px black solid;

	
}


p{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border-bottom: 1px black solid;

	
}

.row{
	height: 60%
}

.col-3{
	background-color: #e5e5e5;
	border-radius: 5px;

}
.col-9{
	background-color: grey;
	border-radius: 5px;


}

.container{
	margin-top: 32%;
}
