html, body{
	height: 100%;
	margin:0;
	padding: 0;
	background-color: #000;
}

html body{
	background-color: #000;
}

body .jumbotron {
    padding: 1rem 2rem;
 
}



body h1{
	
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border-bottom: 1px black solid ;
	margin-left: 40%;
	margin-right: 40%
	
	
}

#titre2{
	
font-family: 'Indie Flower', cursive;
	text-align: center;
	border-bottom: 1px black solid ;
	margin-left: 5%;
	margin-right: 5%
	
	
}

#chatbox{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border-bottom: 1px black solid ;
	margin-left: 40%;
	margin-right:40%
}


#paraTitre{
	font-family: 'Indie Flower', cursive;
	text-align: center;
	border-bottom: 1px black solid;
	margin-left: 35%;
	margin-right: 35%

	
}


.row{
	height: 70%;
	width:100%;
}

.col-3{
	background-color: #e5e5e5;
	outline: black solid 4px;

}
.col-9{
	background-color: grey;
	outline: black solid 4px;
	overflow: auto;


}



#chatText{
	width: 50%;
	margin-left: 40%;
	display: inline-block;
}

